= javascript_include_tag "application"
= javascript_include_tag "modernizr"
= yield_content :page_javascript

javascript:
  (function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);

script async=true src="https://www.googletagmanager.com/gtag/js?id=UA-110656502-1"

- unless environment == :development
  javascript:
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'ENV["GOOGLE_SITE_TAG"]');

    // COOKIES POLICY
    var _iub = _iub || [];
    _iub.csConfiguration = {
      cookiePolicyId: #{t('iubenda_id')},
      siteId: 965734,
      lang: '#{I18n.locale}'
    };

  script type="text/javascript" src="//cdn.iubenda.com/cookie_solution/safemode/iubenda_cs.js" charset="UTF-8" async="async"
