- content_for(:head)
  == dato_meta_tags(page)

.space--both-5: .wrap: .align--center: nav.nav--breadcrumbs
  .nav__item
    = link_to t('nav.homepage'),
      "/#{I18n.locale}/",
      title: t('nav.homepage')

  .nav__item= page.title

.wrap: .align--center: section.page
  h1.page__title= page.title

.wrap--on-wall: #map.google-map data-lat="#{page.map.latitude}" data-lon="#{page.map.longitude}"

.wrap: .align--center: section.page: .page__spacer
  = partial "partials/address",
      locals: {html_class: "page__text"}

.space--both-5: .wrap--small: section.page: .align--center
  h2.page__subtitle
    = t('contacts.form.title')

  form.form action="https://formspree.io/#{dato.contacts_page.email}" method="POST"
    .form__field
      = text_field_tag :text,
        value: "",
        name: t('contacts.form.name.label'),
        placeholder: t('contacts.form.name.placeholder'),
        required: "required"

    .form__field
      = email_field_tag :email,
        value: "",
        name: t('contacts.form.email.label'),
        placeholder: t('contacts.form.email.placeholder'),
        required: "required"

    .form__field
      = text_area_tag :textarea,
        value: "",
        name: t('contacts.form.content.label'),
        placeholder: t('contacts.form.content.placeholder'),
        required: "required"

    .form__field: .align--center
      label.input--checkbox
        input required="required" type="checkbox"
          span.input__label.formatted-content
            = t('contacts.form.privacy.label')
            =< link_to "Privacy Policy",
              "//www.iubenda.com/privacy-policy/#{I18n.t('iubenda_id')}",
              class: "iubenda-nostyle no-brand iubenda-embed"

    .form__actions: .align--center
      = submit_tag :button,
        value: t('contacts.form.submit.label'),
        class: "button--rev button--brown-bg"

- content_for(:page_javascript)
  javascript:
    function initMap() {
      var container = document.getElementById('map');
      if (!container) {
        return;
      }
      var lat = parseFloat(container.getAttribute("data-lat"));
      var lon = parseFloat(container.getAttribute("data-lon"));
      var pointer = {lat: lat, lng: lon }
      var map = new google.maps.Map(container, {
        zoom: 13,
        center: {lat: lat, lng: lon },
        mapTypeControl: true,
        mapTypeControlOptions: {
            style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
            position: google.maps.ControlPosition.TOP_CENTER
        },
        zoomControl: true,
        zoomControlOptions: {
            position: google.maps.ControlPosition.LEFT_CENTER
        },
        scaleControl: false,
        streetViewControl: false,
        scrollwheel: false,
        draggable: true
      });

      var marker = new google.maps.Marker({
        position: pointer,
        map: map,
      });
    }

  /= javascript_include_tag "https://maps.googleapis.com/maps/api/js?callback=initMap"
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API']}&callback=initMap"
