javascript:
  var language = window.navigator.userLanguage || window.navigator.language;
  switch (language.substring(0,2)){
   case "it":
    l = "it"
    break;
   default:
    l = "it"
    break;
  }
  window.location.href = "/" + l + "/"

= link_to "Italian version", "/it"
/= link_to "English version", "/en"
