.cta
  position: relative
  max-width: 820px
  +vertical-padding(5)
  background-color: $primary-color
  text-align: center

.cta__heading
  // +center


.cta__title
  +heading-font-family
  +font-size(regular)
  color: $rev-body-color
  +padding(1)

.cta__action
  +heading-font-family
  +font-size(regular)
  color: $blue-color


+at-breakpoint(tab)
+at-breakpoint(wall)
