.hero

.hero__background
  height: 430px
  background-color: $brown-color
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  position: relative
  &:after
    content: " "
    background-color: rgba($brown-color, .6)
    +position(absolute, 0 0 0 0)

.hero__background__title
  +padding(2)
  +center
  +heading-font-family
  +font-size(delta)
  text-align: center
  width: 300px
  color: $rev-body-color
  z-index: 2

  img
    max-width: 300px

.hero__heading
  +vertical-padding(3)
  background-color: $brown-color
  color: $rev-body-color
  position: relative

.hero__heading__cta
  +color: $primary-color
  +center-horizontally
  margin-top: -20px

.hero__heading__title
  +heading-font-family
  +font-size(delta)
  +margin-bottom(2)

.hero__heading__text
  +vertical-margin(2)

.hero__heading__action

+at-breakpoint(lap)
  .hero__heading
    +horizontal-padding(3)

  .hero__background
    height: 600px

  .hero__background__title
    +font-size(gamma)

+at-breakpoint(wall)
  .hero__background
    height: 800px

  .hero__background__title
    width: 500px
    +font-size(beta)
    img
      max-width: 500px
